/* 1015px é a largura de um celular um pouco menor */
@media screen and (max-width: 1015px) {
    .offer__list-item {
    /*essa classe é a que carrega quantas colunas o display:grid carrega na tela*/
        grid-template-columns: 1fr 1fr;
        /*então se a tela tiver esse temanho maximo, ele vai mostrar apenas 2 colunas de cards*/   
    }
}

@media screen and (min-width: 1016px) and (max-width: 1140px) {
    .header__search {
      
      width: auto !important;
      display: none;
}
}


@media screen and (max-width: 375px) {
    .playlist {
      display: none;
    }
  
    .playlist-container {
      width: 100%;
      height: auto; 
    }
  
    .sidebar {
      width: 342px;
    }
  
    .offer__list-item {
      grid-template-columns: 1fr;
    }
  
    .offer__scroll-container {
      overflow-y: visible;
    }
  
  }
