/* 1015px é a largura de um celular um pouco menor */

@media screen and (min-width: 1016px) and (max-width: 1140px) {
    .header__search {
      display: none;
      width: auto;
      display: none;
}

    .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr
    }
}

@media screen and (min-width: 768px) and (max-width: 1015px) {
    .header__search {
        display: none;
        width: auto;
    }
    
    .offer__list-item {
    /*essa classe é a que carrega quantas colunas o display:grid carrega na tela*/
        grid-template-columns: 1fr 1fr;
        /*então se a tela tiver esse temanho maximo, ele vai mostrar apenas 2 colunas de cards*/   
    }

    .header__login .subscribe {
        font-size: 12px;
        padding: 10px;
        margin-right: 5px;
      }

    .disclaimer-premium {
        flex-direction:column;
    }

    .button {
        align-self: center; 
        padding: 10px;   
    }

      
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .header__search {
        display: none;
        width: auto;
    }
    
    .offer__list-item {
    /*essa classe é a que carrega quantas colunas o display:grid carrega na tela*/
        grid-template-columns: 1fr;
        /*então se a tela tiver esse temanho maximo, ele vai mostrar apenas 2 colunas de cards*/   
    }

    .header__login .subscribe {
        font-size: 12px;
        padding: 10px;
        margin-right: 5px;
      }
    
    .header__navigation {
        margin-top: 0;
    }
    
    .sidebar {
        position:relative;
        margin: auto;
        width: 90%;
    }
    .library {
        display: none;
    }

    
    .main-container {
        margin: auto;
        width: 80%;
    }

    .disclaimer-premium {
        flex-direction:column;
    }

    .button {
        align-self: center; 
        padding: 10px;   
    }

}



@media screen and (max-width: 359px) {
    .playlist {
      display: none;
    }
  
    .playlist-container {
      width: 100%;
      height: auto; 
    }
  
    .sidebar {
      width: 342px;
    }
  
    .offer__list-item {
      grid-template-columns: 1fr;
    }
  
    .offer__scroll-container {
      overflow-y: visible;
    }

    .disclaimer-premium {
        flex-direction:column;
    }

    .button {
        align-self: center; 
        padding: 10px;   
    }
  
  }
